*{
    margin: 0px;
}
.skip-link {
    left: -100%;
    position: absolute;
}
.skip-link :focus {
    left: 50%;
}
.navbar {
    color: black;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px;
    /* position: absolute; */
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    padding: 10px;
}
img {
border-radius: 100px;
}
.navbar-nav {
    text-decoration-color: white;
    
}

.bi-search {
    color: #ffffff;
    
}
.nav-link {
    color: white;
}
.btn-outline-success {
    border-color: white;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    color: white;
}
.btn-outline-success:hover {
background-color: #080808;
border-color: white;
}
/* body {
    background-color: black;
} */

h1, p {
    
}
p {
    font-size: 1.2rem;
}
 

.black {
 background-color: black;
}
.box {
    background-color: #444444;
    padding: 20px;
   margin: 10px;
   margin-left: 25px;
}
.d-flex {
    width: 100px;
    height: 100px;
    margin-right: 0px;
   flex-wrap: wrap;
}
h2, h3 {
    color: white;
    font-size: 1rem;
}
